@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Poppins:wght@400;500;700&family=Work+Sans:wght@400;500&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.box {
    background: var(--White, #FFF);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
    overflow: hidden;
}

h2 {
    color: #000;
    font-family: "Work Sans";
    font-size: 20px;
    font-weight: 500;
    line-height: 123.6%;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}

p {
    color: var(--gray-paragraph, #7B7B7B);
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 150.6%;
    text-align: center;
    padding: 10px;
}

.icon {
    width: 40px;
    height: 40px;
    background: var(--White, #FFF);
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.relative {
    position: relative;
    margin-bottom: 25px;
}

.box:hover .absolute {
    right: 0;
}

.absolute {
    position: absolute;
    top: 50%;
    right: -41px;
    transition: all 200ms linear;
    transform: translateY(-50%);
}

#image {
    width: 100%;
}

.icon:hover {
    background-color: #FF5300;
    cursor: pointer;
    box-shadow: 1px 7px 6px rgba(255, 83, 0, 0.50);
}

.icon:hover svg path {
    fill: #fff;
    ;
}

@media (max-width:992px) {
    .col-4-lg {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }

    section {
        height: auto;
    }

    .mt-10 {
        margin-top: 20px;
    }
}

@media (max-width:768px) {
    .col-6-md {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;

    }

    section {
        height: auto;
    }
    .mt-10 {
        margin-top: 20px;
    }
}



@media (max-width:576px) {
    .col-12-sm {
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }

    section {
        height: auto;
    }
    .mt-10 {
        margin-top: 20px;
    }
    .mb-10{
        margin-bottom: 15px;
    }
}