@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Poppins:wght@400;500;700&family=Work+Sans:wght@400;500&display=swap');

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 100vh;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;

}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
    overflow: hidden;

}


.col-3 {
    width: 25%;
    padding-left: 12px;
    padding-right: 12px;
}

.box {
    width: 270px;
    height: 350px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.10);
    position: relative;
    overflow: hidden;
    margin: 3px;

}

.h-1 {
    color: #000;
    font-family: "Work Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 123.6%;
}

.text-align {
    text-align: center;
}

.h-2 {
    color: var(--gray-paragraph, #7B7B7B);
    font-family: "Work Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150.6%;

}

.mt-10 {
    margin-top: 20px;
}

.mt-9 {
    margin-top: 9px;
}

.box:hover .all-box {
    right: 0;
}

.all-box {
    display: flex;
    flex-direction: column;
    width: 40px;
    height: 175px;
    position: absolute;
    gap: 5px;
    transform: translateY(-100%);
    top: 55%;
    right: -60px;

}

.icon-box {
    width: 40px;
    height: 40px;
    background: white;
    box-shadow: 1px 7px 6px rgba(255, 83, 0, 0.50);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sbox-1 {
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
}

.sbox-2 {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sbox-3 {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sbox-4 {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}


.icon-box:hover {
    background-color: #FF5300;
    cursor: pointer;
}

.icon-box:hover span svg path {
    fill: #fff;
}
